h1{
  
    justify-content: center;
    display: flex;
}
body{
    background-color: antiquewhite;
}
.form{
    
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 40%;
    height: 40%;
    background-color: white;
    margin-left: 600px;
    flex-direction: column;
}
.label{
    margin: 5px
    
}
.button{
    margin: 5px;
    width: 100px;
    
   
}
.input{
    display: block;
    margin: 5px;

}
